/* global css */
* {
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p {
    text-indent: 40px;
}

p, li {
    font-size: 18px;
}

div {
    margin-bottom: 30px;
}

iframe {
    max-width: 660px;
    height: 540px;
    width: 100%;
    display:block;
    margin: 10px auto;
}

video {
    display: block;
    margin: 10px auto;
    max-width: 100%;
    height: auto;
}

emphasis {/*used to emphasize something (id has higher precedence than class)*/
    font-family: "Segoe Script", cursive;
}

/* navbar and header css */
.navbar {
    display: flex;
    justify-content: left;
    background-color: rgb(116, 96, 132);
    padding: 20px;
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 0px;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
    padding-right: 20px;
    border-right: 2px solid white;
}

.nav-link:hover {
    color: rgb(157, 178, 181);
}

.nav-link.active {
    color: rgb(117, 204, 218);
    text-decoration: underline;
}

.nav-link:last-child {
    border-right: none;
}

.headerBlock{
    height: 300px;
    width: 100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(216, 223, 217);
    margin-bottom: 10px;
}

.header {
    text-align: left;
    font-family: "Segoe Script", cursive;
    color: rgb(49, 86, 57);
}

/* about and tech heroes pages css */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.profile-container {
    margin: 25px auto;  
    width: 90%;  
    max-width: 1200px; 
}

.profile {
    display: flex;
    align-items: flex-start; 
    gap: 20px;
}

.icon {
    border-radius: 20%;
    width: 200px;
    height: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.question {
    list-style: none;
}


/* resource page css */
.resources-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.implicit-bias-container {
    margin: 25px auto; 
    width: 90%;    
    max-width: 1200px;   
}

.information {
    display: flex;
    gap: 30px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.subtext-img {
    font-size: 12px;
}

.bias-pic {
    flex-shrink: 0; 
    object-fit: cover;    
    width: 275px;
    height: 375px;   
    border-radius: 20%;   
}

.images-resource {
    flex-shrink: 0;     
    width: 400px;
    height: 300px;  
}

.info-links {
    margin-left: 20px;
}

.info-link {
    font-size: 16px;
    font-weight: 500;
    color: #1976d2;
    text-decoration: none;
}

.info-link:hover {
    color: #2196f3;
}

/* home page css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 16px;
}

.home-img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 20%;
}

/* ML + statement pages css */
.button {
    display: inline-block;
    background-color: rgb(116, 96, 132);
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    text-decoration: none;
    margin: 15px;
}

.button:hover {
    background-color: rgb(90, 61, 113);
}

.statementTitle {
    color: rgb(63, 89, 119);
    text-decoration: underline;
    text-align: center;
}

.section {
    border: 2px solid #ccc;
    padding: 20px;
    margin-top: 30px;
    border-radius: 10px;
}

.subTitle {
    margin-top:20px;
    margin-bottom:10px;
}

.reference {
    text-decoration: underline;
    font-weight: bold;
}

.main-layout {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-left: 100px;
    margin-right: 50px;
    gap: 40px;
}

.model-container {
    margin: 0 auto;  
    width: 50%;  
    max-width: 1200px; 
}

.statement-container {
    margin: 0 auto;  
    width: 60%;  
    max-width: 1200px; 
}

.imageInRow {
    margin-top: 25px;
    display: flex;
    align-items: center;
    gap: 40px;
}

.imageText {
    flex: 1;
}

.sidebar {
    width: 200px;
    position: sticky;
    top: 120px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(124, 143, 128);
    padding: 15px;
    border-radius: 10px;
    margin-top: 25px;
}

.sidebar a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.sidebar a:hover {
    color: rgb(117, 204, 218);
}

.line {
    border-top: 4px solid #ccc;
    padding-top: 20px;
    margin-top: 30px;
}