/* global css */
* {
    font-family: 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p, li {
    font-size: 25px;
}


/* navbar css */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 96, 132);
    padding: 20px;
    font-size: 24px;
    font-weight: 1000;
    margin-bottom: 16px;
}

.nav-link {
    text-decoration: none;
    color: rgb(255, 255, 255);
    margin-left: 20px;
}

.nav-link:hover {
    color: rgb(117, 204, 218);
}

.nav-link.active {
    color: rgb(117, 204, 218);
    text-decoration: underline;
}


/* about and tech heroes pages css */
.about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 50px;
    margin: 25px 25vw;
}

.profile {
    display: flex;
    align-items: center; 
    gap: 50px;
}

.icon {
    border-radius: 20%;
    width: 200px;
    height: auto;
}

.profile-info {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    gap: 10px;
}

.question {
    list-style: none;
}


/* resource page css */
.resources-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.implicit-bias-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    margin: 25px 27.5vw;
}

.implicit-bias-information {
    display: flex;
    gap: 30px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bias-pic {
    flex-shrink: 0;     
    width: 400px;
    height: 300px;   
    border-radius: 20%;   
}

.info-links {
    margin-left: 20px;
}

.info-link {
    font-size: 16px;
    font-weight: 500;
    color: #1976d2;
    text-decoration: none;
}

.info-link:hover {
    color: #2196f3;
}

/* home page css */
.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 20%;
}